.menu {
     background-color: black;
     display : inline-block;
     
     margin-top : 5px;
     /* padding-top : 3px; */
     /* padding-right : 2px; */
     align-content: center;
     vertical-align : baseline;
     background-image : url("vnr-img.png") ;
     height : 960px;
     width : 412px;
     /* background-position : center; */
     background-attachment: fixed;
     text-transform: uppercase;

}
.main{
    display : inline-block;
}
li a{
    display : block;
    border : 1px solid white;
    text-decoration: none;
    margin : 80px 20px 20px 20px;
    padding : 3px 3px 3px 3px;
    text-align: center;
    color : white;
    font-size : 25px;
    border-radius: 80px;
    
}
li {
    list-style-type: none;
    list-style-position: inside;
}
 .imgg{
    height : 10px;
    margin-bottom: 30px;
    border : none;
} 

.mo{
    margin-top : 100px;
    color : black;
    background-color : rgb(96, 43, 221);
}

.tu {
    color : black;
    background-color : indigo;
}

.we{
    color : black;
    background-color : blue;
}

.th{
    color : black;
    background-color : green;
}

.fr{
    color : black;
    background-color : yellow;
}

.sa{
    color : black;
    background-color : orange;
}

.fee{
    color : white;
    background-color : black;
}

li a:hover{
    color : #00f100;
}
.table {
    display : inline-block;
}
.back{
    vertical-align : baseline;
}

body {
    margin : 0 0 0 0;
    padding : 0 0 0 0;
}
/*normal mobile*/
@media screen and (max-width: 480px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}
