.menu {
     background-color: black;
     display : inline-block;
     
     /* padding-top : 3px; */
     /* padding-right : 2px; */
     align-content: center;
     vertical-align : baseline;
     /* background-image : url("vnr-img-min.png") ; */
     height : 700px;
     width : 412px;
     /* background-position : center; */
     /* background-attachment: fixed; */
     text-transform: uppercase;
     box-shadow: 5px 5px 5px red;
    

}
.main{
    display : inline-block;
}
li a{
    display : block;
    border : 1px solid white;
    text-decoration: none;
    margin : 20px 20px 40px 20px;
    padding : 3px 3px 3px 3px;
    text-align: center;
    color : white;
    font-size : 25px;
    border-radius: 80px;
    box-shadow : 3px 3px 5px #F3E8EA;
}
li {
    list-style-type: none;
    list-style-position: inside;
}
 .imgg{
    height : 10px;
    margin-bottom: 20px;
    border : none;
    box-shadow: none;
} 

.mo{
    margin-top : 100px;
    color : white;
    background-color : black;
}

.tu {
    color : white;
    background-color : black;
}

.we{
    color : white;
    background-color : black;
}

.th{
    color : white;
    background-color : black;
}

.fr{
    color : white;
    background-color : black;
}

.sa{
    color : white;
    background-color : black;
}

.fee{
    color : white;
    background-color : black;
}

li a:hover{
    color : #00f100;
    text-shadow: 3px 3px 3px rgb(9, 9, 226);
}
.table {
    display : inline-block;
}
.back{
    vertical-align : baseline;
}

body {
    margin : 0;
    padding : 0;
}
/*normal mobile*/
@media screen and (max-width: 480px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}
