.menu {
     background-color: black;
     display : inline-block;
     
     margin-top : 5px;
     /* padding-top : 3px; */
     /* padding-right : 2px; */
     align-content: center;
     vertical-align : baseline;
     background-image : url("vnr-img.png") ;
     height : 732px;
     width : 412px;
}
.main{
    display : inline-block;
}
li a{
    display : block;
    border : 1px solid white;
    text-decoration: none;
    margin : 8px 8px 8px 8px;
    padding : 3px 3px 3px 3px;
    text-align: center;
    color : white;
    font-size : 18px;
}
li {
    list-style-type: none;
}
 .imgg{
    padding-right : 5px;
} 
li a:hover{
    color : blue;
}
.table {
    display : inline-block;
}
.back{
    vertical-align : baseline;
}

body {
    margin : 0 0 0 0;
}
/*normal mobile*/
@media screen and (max-width: 480px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}
