.table ,th,td{
    border : 2px solid red;
    height : 70px;
    width : 190px;
    color : white;
    background-color: black;
    font-size: 20px;
    text-shadow : 2px 3px 5px rgb(31, 216, 31);
    margin : 0;
    padding : 0;
    border-collapse: collapse;
    box-shadow : 3px 3px 3px black;
}
td {
    text-align : center;
}

header{
    color : white;
    text-align: center;
    background-color : black;
    width : 388px;
    box-shadow : 3px 3px 3px black;
    text-shadow : 2px 3px 5px rgb(31, 216, 31);
}